@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.hero-section{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(robin-sommer-wnOJ83k8r4w-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
   
}

a:hover{
    font-weight: bold;
    text-decoration: underline;
    
}

a{
    text-decoration: none;
    color: #fff;
}

.contact-icons{
    height: 1.5rem;
}

.tel,.mail{
    margin-left: -0.4rem;
}


.left-nav{
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

.right-nav{
    display: flex;
    gap: 2rem;
}

.container{
    width: 95%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.container h1{
    font-size: 62px;
    padding-bottom: 1rem;
    color: rgb(72, 181, 72);
}

.container h2{
    font-size:38px;
    padding-bottom: 1rem;
    color: rgb(112, 184, 112);
}

.date{
    color: rgb(112, 184, 112);
}

.container p{
    font-size: 24px;
    padding-bottom: 1rem;
}
.info{
    padding-top: 1rem;
    font-size: 18px;
}

.organized-info{
    font-size: 22px;
}

.info-container{
    display: flex;
    justify-content: space-between;
}

.info-container img{
    width: 120px;
}

.left-container{
    padding-left: 3.5rem;
}

.btn{
    position: relative;
    top: 2rem;
    background-color: rgb(72, 181, 72);
    padding: 0.8rem 1.5rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #000;
    z-index: 1;
    display: inline-block;
}

.btn::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
   
}

.btn:hover::before{
    transform: scaleX(1);
}
